body {
	background: #FEFEFE;
	margin-left: 1em;
	margin-right: 1em;
}

div#footer {
	border-top: solid 1px #0005;
}

div#page-date {
	font-size: small;
	color: #000000AA;
}
.blog-card-date {
	font-size: small;
	color: #000000AA;
}

.blog-card {
    margin: 0.5em;
    padding: 0.5em;
    border: solid 1px #0005;
    border-radius: 1em;
}
.blog-card-link {
    font-size: larger;
    text-decoration: none;
}
.blog-card-link > a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}
